#feed {
    display: none;
}

#watch7-sidebar-contents {
    display: none;
}

#watch-discussion {
    display: none;
}

#related {
    display: none;
}

#comments {
    display: none;
}

ytd-page-manager > ytd-browse.ytd-page-manager {
    display: none;
}