#feed {
    display: none;
}

#watch7-sidebar-contents {
    display: none;
}

#watch-discussion {
    display: none;
}

#related {
    display: none;
}

#comments {
    display: none;
}

ytd-browse[page-subtype=home] > ytd-two-column-browse-results-renderer {
    display: none;
}
